# Core dependencies
paramiko==3.3.1
flask==3.0.0
requests==2.31.0

# Data processing & logging
pandas==2.2.0
numpy==1.26.4
flask-cors==4.0.0

# Web & dashboard dependencies
gunicorn==21.2.0
matplotlib==3.8.2

# Security-related
bcrypt==4.1.2

# Optional for scalability & async processing
eventlet==0.33.3
gevent==24.1.0
